*
!.gitignore
!*.code-workspace
!**/.vscode/
!**/.vscode/*.json
!**/.vscode/*.txt
!hw_tuts/
!hw_tuts/**/*
!labs/
!labs/**/*
!miniproject/
!miniproject/**/*
**/.pytest_cache/
**/*.zip
**/*.gz
**/*.log
**/*.aux
**/*latexmk
**/*.xdv
**/*.fls
**/*.snm
**/*.nav
**/*.out
**/*.toc
**/*.vrb
**/*.bbl
**/*.blg
**/*.listing